.new-meetup__create {
  margin: 10px 0 20px;
  text-align: center;
}

.new-meetup__create--button {
  @include button-3d($theme-pop);

  color: white;
  display: inline-block;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}