<template name="about">
  <div class="row">
    <br/><!-- TODO better padding markup -->
    <h1>About Discover What Rocks!</h1>
    <br/><!-- TODO better padding markup -->

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Suspendisse nisl dolor, sollicitudin eget posuere id, auctor 
      ac elit. Duis eget elit auctor, malesuada risus non, condimentum 
      turpis. Aenean fringilla dolor vitae rutrum egestas. Phasellus vitae 
      varius velit. Fusce nibh nisl, scelerisque nec sagittis non, suscipit 
      in urna. Maecenas sit amet enim a risus congue iaculis eu in dolor. 
      Cras nulla urna, maximus id libero ac, viverra lacinia dolor. Fusce 
      at pellentesque augue. Maecenas eget sodales nulla, eget semper massa.</p>

    <div class="row">
      <div class="large-offset-1 large-10 columns">
        <blockquote>
          Those people who think they know everything are a great annoyance to those of us who do.
          <cite>Isaac Asimov</cite>
        </blockquote>
      </div>
    </div>

    <p>Quisque aliquet turpis sit amet tempor malesuada. Vivamus rhoncus, felis 
      eu feugiat ultricies, eros nisl sollicitudin tellus, non pretium eros magna 
      ac velit. Nunc lacinia lectus nec tellus suscipit placerat.</p>

    <div class="row">
      <ul class="vcard large-offset-3 large-6 columns">
        <li class="fn">Contact Us</li>
        <li class="street-address">123 Colonial Ave.</li>
        <li class="locality">Caprica City</li>
        <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
        <li class="email"><a href="#">g.baltar@example.com</a></li>
      </ul>
    </div>
  </div>
</template>