<template name="circlesAddForm">
  <form id="circles_add_form">
    <div class="row">
      <div class="large-offset-1 large-10 columns">
        <h1 class="lead">Create a New Circles</h1>

        <label class="{{#if nameIsNotValid}}error{{/if}}">
        Name Your Circle
          <input type="text" name="name" />
        </label>
        {{#if nameIsNotValid}}
          <small class="error">{{{nameErrorMessage}}}</small>
        {{/if}}

        {{#if isValidForm}}
          <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand">Create Circle</button>
        {{else}}
          <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand" disabled="disabled">Create Circle</button>
        {{/if}}
      </div>
    </div>
  </form>
</template>