<template name="circle">
  <br/><!-- TODO better padding markup -->
  <h1>Your Circle: {{circle.name}}</h1>
  <br/><!-- TODO better padding markup -->

  <div class="icon-bar three-up">
    <a class="item" href="/circles/hangout/add/{{circle.slug}}">
      <i class="fa fa-plus"></i>
      <label>Create a Hangout</label>
    </a>
    <a class="item">
      <i class="fa fa-group"></i>
      <label>Add Friends</label>
    </a>
    <a class="item">
      <i class="fa fa-cogs"></i>
      <label>Update Settings</label>
    </a>
  </div>


  <ul class="stack button-group">
    {{#each meetups}}
      <li>
        <a href="/circles/hangout/{{slug}}" class="button">
          {{date_to_meet}}
        </a>
      </li>
    {{/each}}
  </ul>
</template>