<template name="circle">
  <div class="icon-bar three-up box-bar">
    <a class="item" href="/circles/meetups/add/{{circle.slug}}">
      <i class="fa fa-plus"></i>
      <label>Create a Meetup</label>
    </a>
    <a class="item" href="TODO">
      <div class="overlay">
        <span class="label round overlay-up overlay-right">{{numberOfFriends}}</span>
      </div>
      <i class="fa fa-group"></i>
      <label>Add Friends</label>
    </a>
    <a class="item">
      <i class="fa fa-cogs"></i>
      <label>Update Settings</label>
    </a>
  </div>

  <div class="row">
    <div class="large-offset-1 large-10 columns">
      <h1 class="lead">Your Circle: {{circle.name}}</h1>
      {{#if noMeetups}}
        <div class="row">
          <div class="large-offset-3 large-6 columns">
            <div class="panel center">
              <h5>Get started by creating a Meetup!</h5>

              <a class="button expand" href="/circles/meetups/add/{{circle.slug}}">
                <i class="fa fa-plus"></i>&nbsp;Create a Meetup
              </a>

              {{#if noFriends}}
                <p>Or how about addings some friends to this Circle?</p>

                <a class="button expand" href="TODO">
                <i class="fa fa-group"></i>&nbsp;Add Friends
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      {{else}}
        <ul class="stack button-group">
          {{#each meetups}}
            {{>meetupBadge this}}
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</template>