<template name="circles-add-form">
  <form id="circles_add_form">
    <div class="row">
      <div class="large-offset-1 large-10 columns">
        <h1 class="lead">Create a New Circles</h1>

        <label class="{{#if nameIsNotValid}}error{{/if}}">
        Name Your Circle
          <input type="text" name="name" />
        </label>
        {{#if nameIsNotValid}}
          <small class="error">{{{nameErrorMessage}}}</small>
        {{/if}}

        {{#if isValidForm}}
          <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand">Create Circle</button>
        {{else}}
          <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand" disabled="disabled">Create Circle</button>
        {{/if}}
      </div>
    </div>
  </form>
</template>

<template name="circles-update-form">
  {{! TODO Currently unused }}
  <div class="row">
    <div class="large-12 columns">
      <label class="{{#if nameIsNotValid}}error{{/if}}">
      Name Your Circle
        <input type="text" name="name" />
      </label>
      {{#if nameIsNotValid}}
        <small class="error">{{{nameErrorMessage}}}</small>
      {{/if}}
    </div>
  </div>

  <form>
    <fieldset>
      <legend>Add Friends to Your Circle</legend>
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" placeholder="Your Friend's Email" id="invited_friend">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix" id='add_invited_friend'>Add</a>
            </div>
          </div>
        </div>
      </div>

      <table role="grid">
        <caption>Invited Friends</caption>
        <thead>
          <tr>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="invited_friends">
          {{#each key_value invited_friends}}
          <tr>
            <td>
              {{value}}
              <input type="hidden" name="users.{{key}}.email" data-schema-key="users.{{key}}.email" value="{{value}}" />
            </td>
            <td><a href="#" class="button tiny alert remove">Remove</a></td>
          </tr>
          {{/each}}
          
        </tbody>
      </table>

    </fieldset>
    <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand">Update Circle</button>
  </form>

</template>