<template name="home">
  {{#if session "meteorLoggedIn"}}
    {{> homeLoggedIn}}
  {{else}}
    {{> homePortal}}
  {{/if}}
</template>

<template name="homeLoggedIn">
  <div class="icon-bar one-up box-bar">
    <div class="row">
      <a class="item" href="/circles/add">
        <i class="fa fa-plus"></i>
        <label>Create a Circle</label>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="large-offset-1 large-10 columns">
      <h1 class="lead">Your Circles</h1>

      <ul class="stack button-group">
        {{#each circles}}
          <li>
            <a href="/circles/{{slug}}" class="button">
              {{name}}
              &nbsp;
              {{number_of_upcoming_meetups_for_circle this}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

</template>

<template name="homePortal">
  <div class="heading">
    <div class="heading-push"></div>
    <div class="row">
      <div class="medium-6 columns">
        <h1>Discover what rocks</h1>
        <p class="lead">
          Want to hang out with your friends but don't know where to go?
          <br/>
          Search, invite, and vote.
        </p>
      </div>
      <div class="medium-6 columns">
        {{> loginCustom}}
      </div>
    </div>
  </div>  
</template>