<template name="meetups-add-form">
  <form id="meetups_add_form">
    <div class="row">
      <div class="large-12 columns">
        <label class="{{#if date_is_not_valid}}error{{/if}}">
          When To Meet
          <input type="datetime" name="date_to_meet" />
        </label>
        {{#if date_is_not_valid}}
          <small class="error">{{{date_error_message}}}</small>
        {{/if}}
      </div>

      <div class="large-12 columns">
        <input type="hidden" id="map_center" />
        <a href="#" class="button postfix" id="use_current_location"  {{geolocation_enabled}} >Use My Current Location</a>

        <div id="map-canvas" style="width:100%;height:350px;"></div>
      </div>
    </div>
  </form>
  <script>
    // TODO get better starting coordinates
    var Coords = {
      latitude: 33, 
      longitude: -112
    }

    var _$ = this;
    _$.hangout_circle = false;
    _$.scale = 3;

    /**
     * @see http://xdsoft.net/jqplugins/datetimepicker/
     */
    jQuery( function ( $ ) {
      $( document ).ready( function () {
        $( 'input[name="date_to_meet"]' ).datetimepicker();

          _$.map = new google.maps.Map( document.getElementById( 'map-canvas' ), {
            center: new google.maps.LatLng( Coords.latitude, Coords.longitude ),
            zoom: 13
          } );
      } );
    });

    function set_scale( scale ) {
      // TODO
    }

    function set_center( lat, lon ) {
      'use strict';
      var location = lat + ', ' + lon;

      $( '#map_center' ).val( location );

      var hangout_location = {
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: _$.map,
        center: new google.maps.LatLng( lat, lon ),
        // TODO
        radius: _$.scale * 100
      };

      if ( _$.hangout_circle ) {
        _$.hangout_circle.setMap( null );
      }

      _$.hangout_circle = new google.maps.Circle( hangout_location );
      _$.map.panTo( _$.hangout_circle.getCenter() );
      // TODO rezoom the map according to the radius
    }

    function current_position_callback( position ) {
      'use strict';

      set_center( position.coords.latitude,  position.coords.longitude );
    }
  </script>
</template>

<template name="meetups-update-form">
  <!-- TODO -->
</template>