<template name="meetup">
  <div class="row">
    <div class="large-offset-1 large-10 columns">
      <h1 class="lead">{{meetup.name}}</h1>

      {{meetup.dateToMeet}}

      <div id="map-canvas" style="width:100%;height:350px;"></div>

      <form>
        <input name="vote_location" id="vote_location" />
      </form>

      <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand disabled">Click on the Map to Vote Where You'd Like to Meet</button>
    </div>
  </div>
  
  {{!
   Page scripts
  }}

  <script>
  var _$ = this;

  // Data Defaults
  // =============
  _$.data = window.Template.currentData($('#map-canvas')[0]);
  _$.vote_marker = false;
  // Hack to make sure no infinite map refreshes happen
  _$.selfInterval = _$.selfInterval || -1;
  clearInterval( _$.selfInterval );

  /**
   * Wait for circle and meetup context to be ready
   */
  _$.selfInterval = setInterval( function () {
    if ( _$.data !== null &&
         _$.data.circle !== null &&
         _$.data.meetup !== null) {
      clearInterval( selfInterval );

      run();
    } else {
      // Try again
      _$.data = window.Template.currentData( $('#map-canvas')[0] );
    }
  }, 100 );

  /**
   * Run after data is set
   */
  function run() {
    var Coords = {
      latitude: _$.data.meetup.mapCenter.latitude,
      longitude: _$.data.meetup.mapCenter.longitude
    }
    
    _$.map = new google.maps.Map( document.getElementById( 'map-canvas' ), {
      center: new google.maps.LatLng( Coords.latitude, Coords.longitude ),
      zoom: 13
    } );
    _$.scale = parseFloat( _$.data.meetup.mapCenter.radius );

    var meetupLocation = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: _$.map,
      center: new google.maps.LatLng( Coords.latitude, Coords.longitude ),
      radius: _$.scale
    };

    _$.meetupCircle = new google.maps.Circle( meetupLocation );

    // TODO mark votes

    // Add click listener
    google.maps.event.addListener( _$.map, 'click', function ( np ) {
      set_center( np.latLng.lat(), np.latLng.lng() );
    } )

    google.maps.event.addListener( _$.meetupCircle, 'click', function ( np ) {
      set_center( np.latLng.lat(), np.latLng.lng() );
    } )

  }

  function set_center( lat, lon ) {
    'use strict';
    var location = lat + ', ' + lon
    var lat_long = new google.maps.LatLng( lat, lon )

    $( '#vote_location' ).val( location )

    var vote_location = {
      position: lat_long,
      map: _$.map,
      title: "TODO's vote"
    }

    if ( _$.vote_marker ) {
      _$.vote_marker.setMap( null )
    }

    _$.vote_marker = new google.maps.Marker( vote_location )
  }

  </script>
</template>