<template name="meetup">
  <div class="row">
    <div class="large-offset-1 large-10 columns">
      <h1 class="lead">{{meetup.name}}</h1>

      {{{generateCalendarIcon meetup.dateToMeet}}}

      <br/>
      <ul class="button-group right">
        {{#if isOwner}}
          {{#if hasNotPinged}}
            <li>
              <a href="#" class="small button " id="email-friends-about-meetup"> Ping</a>
            </li>
          {{/if}}
        {{/if}}
        <li>
          <a href="#" class="small button dropdown" ref="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" data-options="align:left"><i class="fa fa-users"></i>
          </a>
        </li>
      </ul>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1" data-options="align:left">
        {{#each invitees}}
          <li>{{email}} {{#if hasVoted}}<i class="fa fa-check"></i>{{/if}}</li>
        {{/each}}
      </ul>
      

      <p class="lead">{{placeType.readibleName}}</p>

      <div id="map-canvas" class="map-canvas"></div>

      <form>
        <input name="vote_location" id="vote_location" type="hidden" />
      </form>

      <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand {{#if voteNotCast}}disabled{{/if}}" id="vote">
      {{#if voteNotCast}}
        Click on the Map to Vote Where You'd Like to Meet
      {{else}}
        {{#if voteAlreadyCast}}
          Change Your Vote!
        {{else}}
          Cast Your Vote!
        {{/if}}
      {{/if}}
      </button>
      <div class="votes">
      {{#if hasVotes}} 
        <h1 class="lead">Votes</h1>

        <ul class="stack button-group votes">
          {{#each structuredVotes}}
            <li class="vote-badge panel">
              <h3 class="lead">{{placeName}}</h3>
              <div class="right">
                <button class="button success vote-premade">
                  {{#with .. }}
                    {{#if voteAlreadyCast}}
                      Change Your Vote
                    {{else}}
                      Vote
                    {{/if}}
                  {{/with}}
                </button>
              </div>
              <div class="voters">
                {{#each voters}}
                  {{> gravatarBadge}}
                {{/each}}
              </div>
              <div class="clearfix"></div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
      </div>
    </div>
  </div>
  
  {{!
   Page scripts
  }}

  <script>
  var _$ = this;

  // Data Defaults
  // =============
  _$.data = window.Template.currentData($('#map-canvas')[0]);
  _$.voteMarker = false;
  _$.meetupCircle = null;
  _$.previewMarkers = [];
  _$.infowindow = new google.maps.InfoWindow();
  // Hack to make sure no infinite map refreshes happen
  _$.selfInterval = _$.selfInterval || -1;
  clearInterval( _$.selfInterval );

  /**
   * Wait for circle and meetup context to be ready
   */
  _$.selfInterval = setInterval( function () {
    if ( _$.data !== null &&
         _$.data.circle !== null &&
         _$.data.meetup !== null) {
      clearInterval( selfInterval );

      run();
    } else {
      // Try again
      _$.data = window.Template.currentData( $('#map-canvas')[0] );
    }
  }, 100 );

  </script>
</template>