<template name="meetupsNew">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Create A Meetup</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="home" text="Home"}}
    {{/contentFor}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          Meetup Details
        </div>
        <label class="item item-input item-floating-label"> 
          <span class="input-label has-input">Name It!</span>
          <input type="text" placeholder="My Cool Meetup" name="name" />
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label has-input">What day?</span>
          <input class="datetime-picker" type="date" placeholder="mm/dd/yyyy" name="date" />
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label has-input">What time?</span>
          <input class="datetime-picker" type="time" placeholder="--:-- --" name="time" />
        </label>
        <label class="item item-input item-select item-floating-label">
          <span class="input-label has-input">What for?</span>
          <select name="meetupType">
            {{#each placeTypes}}
              <option value="{{slug}}">{{readibleName}}</option>
            {{/each}}
          </select>
        </label>
        <div class="item item-divider">
          Where at?
        </div>
        
        <div class="map-container">
          <div class="map-action-button">
            <i class="ion-icon ion-android-locate"></i>
          </div>
          <div id="map-canvas" class="map-canvas"></div>
        </div>
        <div class="item item-divider">
          How far?
        </div>
        <div class="list">
          <div class="item range range-positive">
            <i class="ion-icon ion-android-walk"></i>
            <input type="range" name="radius" min="0.5" max="5" step="0.5" value="2">
            <i class="ion-icon ion-android-car"></i>
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Twitter Friends
          </div>

          <button class="button button-block button-calm" data-ion-modal="_addTwitterFriendsModal">
            Add/Remove Twitter Friends
          </button>
          <ul class="twitter-badges">
            {{#each twitterInvites}}
              <li>
                <img src="{{profile_image_url_https}}" alt="{{name}}" /><br/>
                <p>{{screen_name}}</p>
              </li>
            {{/each}}
          </ul>
        </div>

        <button id="submit" class="button button-block button-assertive">
          <i class="ion-icon ion-plus"></i> Create Your Meetup
        </button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>