<template name="navigation">
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <!-- Navigation -->
      <nav class="top-bar docs-bar hide-for-small" data-topbar="">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Discover What Rocks</a></h1>
          </li>
        </ul>
        
        <section class="top-bar-section">
          <ul class="right">
            {{#if session "meteorLoggedIn"}}
              <li class="divider"></li>
              <li class="has-dropdown not-click">
                <a>Circles</a>
                <ul class="dropdown">
                  <li>
                    <a href="/">All Circles</a>
                  </li>
                  <li class="divider"></li>
                  {{#each circles}}
                    <li>
                      <a href="/circles/{{slug}}">{{name}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/if}}
            <li class="divider"></li>
            <li>
              <a href='/about'>About</a>
            </li>
            {{#if session "meteorLoggedIn"}}
              <li class="divider"></li>
              <li class="has-dropdown not-click">
                <a><i class="fa fa-user"></i></a>
                <ul class="dropdown">
                  <li>
                    <a href="/me/">Settings</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#" id="logout">Logout</a>
                  </li>
                </ul>
              </li>
            {{/if}}
          </ul>
        </section>
      </nav>

      <nav class="tab-bar show-for-small">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title"><a href="/">Discover What Rocks</a></h1>


        </section>
      </nav>
      <!--/Navigation -->

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Discover What Rocks</label></li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href='/about'>About</a>
          </li>
          {{#if session meteorLoggedIn}}
            <li><label>Your Circles</label></li>
            {{#each circles}}
              <li>
                <a href="/circles/{{slug}}">{{name}}</a>
              </li>
            {{/each}}
            <li><label>Your Account</label></li>
            <li><a href="#" class="logout">Logout</a></li>
          {{/if}}
        </ul>
      </aside>

      {{> breadcrumbs}}

      {{> alerts}}

      <section class="main-section {{currentRouteName}}-page">
        {{> yield}}
      </section>

      {{> footer}}

      <a class="exit-off-canvas"></a>

    </div>
  </div>
</template>

<template name="alerts">
  {{#each session 'alerts'}}
    <div data-alert class="alert-box">
      {{{this}}}
      <a href="#" class="close session-alert-box-close">&times;</a>
    </div>
  {{/each}}
</template>