
$hero-ratio: 30%;

.home {
  .hero {
    padding-bottom: $hero-ratio;
    position: relative;
    width: 100%;
  
    img {
      left: 0;
      min-height: $hero-ratio;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    .container {
      left: 0;
      position: absolute;
      right: 0;
      bottom: 30%;
    }

    .inner {
      margin: 0 auto;
      max-width: 600px;
      text-align: center;

      h1 {
        font-size: 1.8em;
        font-weight: normal;
        margin-bottom: 20px;

        @media(max-width: $screen-xs-max) {
          font-size: 1.2em;
        }
      }

      .btn {
        font-size: 1.2em;
        border: 0;
        border-radius: 0 !important;
        padding-left: 50px;
        padding-right: 50px;

        @media(max-width: $screen-xs-max) {
          font-size: 1em;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .show-off {
    background-color: $theme-primary;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;

    h3 {
      color: white;
    }

    p,
    h3 {
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }

    .image {
      @media (max-width: $screen-xs-max) {
        float: none;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    }
  }

  .features {
    background-image: url(/images/callout-1.jpg);
    background-size: cover;
    color: white;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    p {
      text-shadow: 0px 0px 10px darken($theme-dark, 30%);  
    }
  
    .circle-container {
      display: table;
      height: 80px;
      margin: 0px auto 10px;
      width: 80px;

      .circle {
        border-radius: 50%;
        background-color: white;
        background-color: rgba(255, 255, 255, .7);
        color: black;
        display: table-cell;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
      }  
    } 
  }

  .footer {
    background-color: $theme-primary;
    padding-bottom: 20px;
    padding-top: 20px;

    p {
      color: white;
      font-size: 14px;
      text-align: center;
    }
  }
}