// ==========================
// Accounts Core: v0.0.1
// ==========================
// Copyright 2014 Mantaray AR
// Licenced under BSD
// ==========================

// TODO factor out colors

.login-link-text {
  background-color: rgb(67, 172, 106);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  margin: 0 auto 18px;
  padding: 16px 52px 16px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: .3s;
  transition-property: background-color;
  transition-timing-function: ease-out;
  width: 100%;

  &:hover {
    background-color: #368a55;
    color: white;
  }
}

.accounts-dialog {
  background-color: rgb(231, 231, 231);
  border: rgb(199, 199, 199) solid 1px;
  box-sizing: border-box;
  color: rgb(79, 79, 79);
  cursor: auto;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 17.3332805633545px;
  margin-bottom: 10px;
  padding: 13px;
  position: relative;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

  .error-message {
    background: #f04124;
    color: #fff;
    display: block;
    font-size: .7rem;
    font-style: italic;
    font-weight: normal;
    margin-top: -1px;
    padding: .3rem .5rem .5rem;
  }
}

.login-close-text {
  float: right;
}

.login-button {
  -webkit-appearance: none;
  background-color: rgb(0, 112, 149);
  border: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 45.328125px;
  line-height: normal;
  margin-bottom: 0 17.777759552002px 0 0;
  padding-bottom: 15.1110401153564px;
  padding-left: 28.4444808959961px;
  padding-right: 28.4444808959961px;
  padding-top: 14.222240447998px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width: 100%;
}
