// ==========================
// Calendars: v0.0.1
// ==========================
// Copyright 2014 Mantaray AR
// Licenced under BSD
// ==========================

time.icon {
  -webkit-backface-visibility: hidden;
  background-color: $time-icon-background-color;
  border-radius: .6em;
  box-shadow: 0 1px 0 $time-icon-box-color, 0 2px 0 $time-icon-box-color-alt, 0 3px 0 $time-icon-box-color, 0 4px 0 $time-icon-box-color-alt, 0 5px 0 $time-icon-box-color, 0 0 0 1px $time-icon-box-color;
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;

  .panel & {
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-width: 120px;
  }

  * {
    display: block;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    width: 100%;
  }

  strong {
    background-color: $time-icon-strong-background-color;
    border-bottom: 1px dashed $time-icon-strong-border;
    box-shadow: 0 2px 0 $time-icon-strong-box-shadow;
    color: $time-icon-strong-color;
    padding: .2em 0;
    position: absolute;
    top: 0;
  }

  em {
    bottom: 1.5em;
    color: $time-icon-em-color;
    position: absolute;
  }

  span {
    color: $time-icon-span-color;
    font-weight: bold;
    padding-top: 2.5em;

    &.time {
      font-weight: normal;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 1.2em;
    }
  }
}
