// ==========================
// Maps: v0.0.1
// ==========================
// Copyright 2014 Mantaray AR
// Licenced under BSD
// ==========================

.map-canvas {
  height: 350px;
  height: 50vh;
  margin: 0;
  padding: 0;
  width: 100%;

  /*
   * Hack
   * @see https://github.com/zurb/foundation/issues/2462
   */
  *,
  *:before,
  *:after {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;  
  }

  img {
    max-width: none;
  }

  label {
    display: inline;
    width: auto;
  }
}

.pin {
  img {
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}
