// ==========================
// Maps: v0.0.1
// ==========================
// Copyright 2014 Mantaray AR
// Licenced under BSD
// ==========================

.map-canvas {
  height: 350px;
  height: 50vh;
  margin: 0;
  padding: 0;
  width: 100%;
}
