// ==========================
// Overlays: v0.0.1
// ==========================
// Copyright 2014 Mantaray AR
// Licenced under BSD
// ==========================

// TODO move to variables file
$overlay-offset: 12px;

.overlay {
  display: inline;
  position: relative;
  width: 1px;

  * {
    position: absolute !important;  

    &.overlay-up {
      top: -$overlay-offset;
    }

    &.overlay-right {
      left: $overlay-offset;
    }
  }
}
