<template name="circleBadge">
  {{!
    Circle Badge

    Expects `this` to be a circle object.
  }}
  <li>
    <a href="/circles/{{slug}}">
      <div class="row panel">
        <div class="column medium-9 small-6">
          {{name}}
        </div>
        <div class="column medium-2 small-3 center">
          <span class="label" title="Upcoming">{{numberOfUpcomingMeetupsForCircle this}}</span>&nbsp;/&nbsp;{{numberOfMeetupsForCircle this}}&nbsp;<i class="fa fa-calendar"></i><span class="sr-only">Meetups</span>
        </div>
        <div class="column medium-1 small-3 center">
          {{numberOfFriendsForCircle this}}&nbsp;<i class="fa fa-users"></i><span class="sr-only">Friends</span>
        </div>
      </div>
    </a>
  </li>
</template>