<template name="about">
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <h1 class="top-offset-lg bottom-offset-lg">About Discover What Rocks!</h1>

      <p>Discover What Rocks lets friends and family get
      together and find out what rocks in their area. Whether it's
      food, cafes, clothing store, or basically whatever, Discover What
      Rocks is there to help you figure out where you and your friends
      want to go!</p>

      <div class="row">
        <ul class="vcard large-offset-3 large-6 columns">
          <li class="fn">Contact Us</li>
          <li class="email"><a href="mailto:admin@discoverwhatrocks.com<">admin@discoverwhatrocks.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>