<template name="circlesAddForm">
  <form id="circles-add-form">
    <div class="row">
      <div class="large-offset-1 large-10 columns">
        <h1 class="lead">Create a New Circles</h1>

        <label class="{{#if nameIsNotValid}}error{{/if}}">
        Name Your Circle
          <input type="text" name="name" />
        </label>
        {{#if nameIsNotValid}}
          <small class="error">{{{nameErrorMessage}}}</small>
        {{/if}}

        {{#if genericIsNotValid}}
          <small class="error">{{{genericErrorMessage}}}</small>
        {{/if}}
        <button aria-label="submit form" tabindex="0" type="submit" class="button success large expand">Create Circle</button>
      </div>
    </div>
  </form>
</template>