<template name="friendsForm">
  <div class="row">
    <div class="large-offset-1 large-10 columns">
      <h1 class="lead">Add Friends to "{{name}}"</h1>

      <table class="table-responsive">
        <tbody>
          <tr>
            <td colspan="2">
              <form id="friendsAddForm">
                <label class="{{#if emailIsNotValid}}error{{/if}}">
                  Your Friend's Email
                  <div class="row">
                    <div class="large-12 columns">
                      <div class="row collapse">
                        <div class="small-10 columns">
                          <input type="email" name="email" />
                        </div>
                        <div class="small-2 columns">
                          <button class="button success postfix" type="submit">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{#if emailIsNotValid}}
                    <small class="error">{{{emailErrorMessage}}}</small>
                  {{/if}}
                      {{#if genericIsNotValid}}
                    <small class="error">{{{genericErrorMessage}}}</small>
                  {{/if}}
                </label>
              </form>
            </td>
          </tr>
          {{#each users}}
            {{> friendsFormEach}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>

<template name="friendsFormEach">
  {{! A seperate template is required
      in order to bind properly. Otherwise
      the `.rendered` template only runs correctly
      once and a while.
  }}
  <tr>
    <td>
      {{email}}
    </td>
    <td>
      <button class="button small resend-invitation">Resend Invitation</button>
      <button class="button small delete-email">Hold to Delete</button>
    </td>
  </tr>
</template>