// ==========================
// Footer: v0.0.1
// ==========================
// Copyright 2014 Mantaray AR
// Licenced under BSD
// ==========================

footer {
  background-color: $footer-background-color;
  color: $footer-color;
  padding: 10px;
  text-align: center;
}
